.Body {
	height: 84.5%;
	background-color: #c09648d7;
	padding: 2vh 2vw 2vh 1vw;
	display: flex;
	font-family: "Roboto";
}

.menuContainer {
	overflow: hidden;
	overflow-x: hidden;
	height: auto;
	min-width: 10%;
	width: fit-content;
	padding-right: 1vw;
	display: flex;
	flex-direction: column;
	overflow: auto;
	overflow-x: hidden;
}

.breedContainer {
	min-width: 15%;
}