.BreedDisplay {
	flex-grow: 1;
	position: relative;
	width: 60%;
}


.rerollDoggo {
	height: 70px;
	width: 100%;
	text-align: center;
}

.imageBorder {
	overflow: auto;
	width: 100%;
	height: calc(100% - 70px);
	display: flex;
	text-align: center;
	justify-content: center;
	flex-direction: column;
}

.dogImage {
	min-width: 30%;
	min-height: 40%;
	max-width: 55%;
	max-height: 55%;
	margin: 0 auto;
	border: 120px solid transparent;
	border-image: url("../../../icons/background_postal.png") 35% round;
}

@media screen and (max-width: 912px) {
	.dogImage {
		min-height: 40%;
		max-width: 65%;
		max-height: 55%;
		border: 26px solid transparent;
		border-image: url("../../../icons/background_postal.png") 35% round;
	}
}